.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
webview-ui/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
PUNCHLIST.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!dist/**
